// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

.code--medium
    font-size: 17px

.code--small
    font-size: 12px

.orion
    background-image: url('../images/orion.jpg')
	
.tito
    background-image: url('../images/tito.png')
	
.richard
    background-image: url('../images/richard.jpg')
	
.mrx
    background-image: url('../images/mrx.jpg')

.wolf
    background-image: url('../images/InsanityWolf.jpg')
	
.why
    background-image: url('../images/why.png')

.nobodycares
    background-image: url('../images/nobodycares.png')
	
.samefeel
    background-image: url('../images/samefeel.png')

.okay
    background-image: url('../images/okay.jpg')

.itssomething
    background-image: url('../images/itssomething.jpg')
	
.rafa
    background-image: url('../images/rafa.jpg')
	
.realize
    background-image: url('../images/realize.jpg')

.somuchwinning
    background-image: url('../images/somuchwinning.jpg')
	
.modelhomer
    background-image: url('../images/modelhomer.jpg')
	
.openhead
    background-image: url('../images/openhead.jpg')
	
.grotesco
    background-image: url('../images/grotesco.png')

.thinking
    background-image: url('../images/thinking.png')
	
.gif
    -webkit-background-size: contain
    -moz-background-size: contain
    background-size: contain
    background-position: center
    background-repeat: no-repeat

.gif--fight
    background-image: url(../images/gif/fight.gif)
	
.gif--nerd
    background-image: url(../images/gif/nerd.gif)
	
.gif--dumbhorse
    background-image: url(../images/gif/dumbhorse.gif)
	
.gif--rafa
    background-image: url(../images/gif/rafa.gif)