doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title ¡¿Para que mierda me sirve aprender redes de Petri?!

		link(rel='stylesheet', type='text/css', href='build/build.css')

	body

		article

			section
				img(src="../images/unclogo.jpg")
				
			section(data-bespoke-backdrop='mrx')
				h2 ¿Quienes somos?
				
			section(data-bespoke-backdrop='tito')
				h2 Tito
				pre(class='code--medium')
					code.language-javascript.
						var tito = {
								nombre: 'Augusto Altman Quaranta',
								carrera: 'Ingeniera en Computacion',
								estadoDeSuCarrera: {
									recibido: false, //:'(
									leFalta:[
										'tesis' //Casi terminada
									]
								}, 
								trabajaEn: 'Intel Corporation'
							};

			section(data-bespoke-backdrop='richard')
				h2 Richard
				pre(class='code--medium')
					code.language-javascript.
						var richard = {
								nombre: 'Ricardo Fretes',
								carrera: 'Ingeniera en Computacion',
								estadoDeSuCarrera: {
									recibido: false, //:'(
									leFalta:[
										'tesis' //Casi terminada
									]
								}, 
								trabajaEn: 'Pinnacle Corporation'
							};
							
			section(class='gif gif--nerd')

			section(data-bespoke-backdrop='nobodycares')
				h1 Nuestra experiencia con las redes de Petri.
				h4 #nobodycares.
				
			section(data-bespoke-backdrop='samefeel')
				h2 Etapa uno.
				h3 Programacion concurrente.
				
			section(data-bespoke-backdrop='why')
				h2 ¿Para que mi@#* sirven las redes de Petri?

			section
				h3 Muy util para modelar sistemas concurrentes

			section
				h3 El modelo es ejecutable
				
			section(data-bespoke-backdrop='itssomething')
				h2 Salimos pensando que las redes de Petri son una herramienta mas para sincronizar hilos frente a recursos compartidos.
			
			section(class='gif gif--dumbhorse')
			
			section(data-bespoke-backdrop='orion')
				h2 Keyboard Interaction
				h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

			section
				h2 Touch Interaction
				h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

			section(class='gif gif--fight')

			section
				h2 Responsive Slides
				h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

			section
				h2 Bullet List
				h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
				ul
					li Bullet 1
					li Bullet 2
					li Bullet 3

			section(data-bespoke-hash='named-route')
				h2 Named Route
				h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
				p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

			section.emphatic-text(data-bespoke-backdrop='emphatic')
				h2 Emphatic Slide!
				h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

			section
				h2.bullet Just the beginning...
				br
				ul
					li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
					li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
					li Edit JavaScript in <em>'src/scripts/main.js'</em>
				br
				ul
					li
						strong Enjoy! :)
						a(href='http://twitter.com/markdalgleish')  -@markdalgleish

		script(src='build/build.js')